.d-block{
    height: 450px;
    width: 100%;
}
/* .carousel slide{
    height: 43rem;
}
.carousel-item active{
    height: 300px;
} */
.carousel-item active{
    background-size: cover;
}